/* RESET E IMPOSTAZIONI GENERALI */

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#bottone {
   width: 110px;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
    margin-top: 20px;
    border: 3px solid black;
}

.contenitore {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#lista-invitati {
    width: 300px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#class {
    width: 100%;
    border-bottom: 2px solid black;
}

.riga {
    height: 50px;
    width: 100%;
    border-bottom: 2px solid black;
    display: flex;
}

.numero-part {
    height: 100%;
    width: 25%;
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome-part {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}